%nav.top-bar
  %ul.title-area
    / Title Area
    %li.name
      %h1
        =link_to 'ToDo', root_path
    / Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone
    %li.toggle-topbar.menu-icon
      %a{:href => "#"}
        %span Menu
  %section.top-bar-section
    / Left Nav Section
    %ul.left
      %li.divider
      %li
        =link_to 'Priorities', new_priority_path
      %li.divider
      %li
        =link_to 'Tasks', new_task_path
      %li.divider
